### Assignment - Intro to Python and Data Structures
The assignment is for students to get a feel of the lesson discussed this week. You are free to ask any doubts regarding working out any questions in the group. Also, updating the worked out notebook on Github is very much engaged, be sure to mention School of AI, Trivandrum. Additional recognition for students who document the work using *markdown*.

##### 1) Read the contents of test.csv

#### 1.1 Getting the contents and printing it
Once `open()` we specify the file url(if in a different folder) and get the contents using **read()** function. With this we print and get all contents of the csv file.

In [1]:
file = open('Data/test.csv', 'r')
data = file.read()
#file.close() is optional
print(data)

Loan_ID,Gender,Married,Education,ApplicantIncome,LoanAmount,Property_Area
LP001015,Male,Yes,Graduate,5720,110,Urban
LP001022,Male,Yes,Graduate,3076,126,Urban
LP001031,Male,Yes,Graduate,5000,208,Urban
LP001035,Male,Yes,Graduate,2340,100,Urban
LP001051,Male,No,Not Graduate,3276,78,Urban
LP001054,Male,Yes,Not Graduate,2165,152,Urban
LP001055,Female,No,Not Graduate,2226,59,Semiurban
LP001056,Male,Yes,Not Graduate,3881,147,Rural
LP001059,Male,Yes,Graduate,13633,280,Urban
LP001067,Male,No,Not Graduate,2400,123,Semiurban
LP001078,Male,No,Not Graduate,3091,90,Urban
LP001082,Male,Yes,Graduate,2185,162,Semiurban
LP001083,Male,No,Graduate,4166,40,Urban
LP001094,Male,Yes,Graduate,12173,166,Semiurban
LP001096,Female,No,Graduate,4666,124,Semiurban
LP001099,Male,No,Graduate,5667,131,Urban

#### 1.2 Storing data as a Dictionary
This step is done so as that we can perform successive calculations on data easier if it is in the form of key-value pairs.

In [2]:
#Empty dict for storing data
dictionary_data = {}

#### 1.2.1 Initialise keys as Header row
**split()** function is used so that we first split the unstructured data into rows with `\n` delimiter. After this each row is split using `,` as delimiter.

In [3]:
#Header row
headings = data.split('\n',1)[0].split(',')    

for heading in headings:
  dictionary_data[heading] = []

#### 1.2.2 Initialise values as rest of data fields
As `split()` was carried out in header then implemented in the rest of the values.
With that we finally get the csv contents as dictionary values.

In [4]:
#Getting rows excluding header row  
for row in data.split('\n',1)[1].split('\n'):   
  row_contents = row.split(',')  #Data fields

  #Append fields to respective dictionary keys
  for i in range(len(row_contents)):
    dictionary_data[headings[i]].append(row_contents[i])   
    
#Display the final contents in key-value pairs.
print(dictionary_data)

{'Loan_ID': ['LP001015', 'LP001022', 'LP001031', 'LP001035', 'LP001051', 'LP001054', 'LP001055', 'LP001056', 'LP001059', 'LP001067', 'LP001078', 'LP001082', 'LP001083', 'LP001094', 'LP001096', 'LP001099'], 'Gender': ['Male', 'Male', 'Male', 'Male', 'Male', 'Male', 'Female', 'Male', 'Male', 'Male', 'Male', 'Male', 'Male', 'Male', 'Female', 'Male'], 'Married': ['Yes', 'Yes', 'Yes', 'Yes', 'No', 'Yes', 'No', 'Yes', 'Yes', 'No', 'No', 'Yes', 'No', 'Yes', 'No', 'No'], 'Education': ['Graduate', 'Graduate', 'Graduate', 'Graduate', 'Not Graduate', 'Not Graduate', 'Not Graduate', 'Not Graduate', 'Graduate', 'Not Graduate', 'Not Graduate', 'Graduate', 'Graduate', 'Graduate', 'Graduate', 'Graduate'], 'ApplicantIncome': ['5720', '3076', '5000', '2340', '3276', '2165', '2226', '3881', '13633', '2400', '3091', '2185', '4166', '12173', '4666', '5667'], 'LoanAmount': ['110', '126', '208', '100', '78', '152', '59', '147', '280', '123', '90', '162', '40', '166', '124', '131'], 'Property_Area': ['Urban', 'Urban', 'Urban', 'Urban', 'Urban', 'Urban', 'Semiurban', 'Rural', 'Urban', 'Semiurban', 'Urban', 'Semiurban', 'Urban', 'Semiurban', 'Semiurban', 'Urban']}

##### 2) Replace the *Graduate* and *Not Graduate* in the Education column by 1 and 0 respectively

#### 2.1 Replacing instances in Education key
By iterating through the values of `Education`, we replace all instances of Graduate and Not Graduate with 1 and 0 respectively.

In [5]:
for i in range(len(dictionary_data['Education'])):
  dictionary_data['Education'][i] = 1 if dictionary_data['Education'][i] == 'Graduate' else 0

print(dictionary_data)

{'Loan_ID': ['LP001015', 'LP001022', 'LP001031', 'LP001035', 'LP001051', 'LP001054', 'LP001055', 'LP001056', 'LP001059', 'LP001067', 'LP001078', 'LP001082', 'LP001083', 'LP001094', 'LP001096', 'LP001099'], 'Gender': ['Male', 'Male', 'Male', 'Male', 'Male', 'Male', 'Female', 'Male', 'Male', 'Male', 'Male', 'Male', 'Male', 'Male', 'Female', 'Male'], 'Married': ['Yes', 'Yes', 'Yes', 'Yes', 'No', 'Yes', 'No', 'Yes', 'Yes', 'No', 'No', 'Yes', 'No', 'Yes', 'No', 'No'], 'Education': [1, 1, 1, 1, 0, 0, 0, 0, 1, 0, 0, 1, 1, 1, 1, 1], 'ApplicantIncome': ['5720', '3076', '5000', '2340', '3276', '2165', '2226', '3881', '13633', '2400', '3091', '2185', '4166', '12173', '4666', '5667'], 'LoanAmount': ['110', '126', '208', '100', '78', '152', '59', '147', '280', '123', '90', '162', '40', '166', '124', '131'], 'Property_Area': ['Urban', 'Urban', 'Urban', 'Urban', 'Urban', 'Urban', 'Semiurban', 'Rural', 'Urban', 'Semiurban', 'Urban', 'Semiurban', 'Urban', 'Semiurban', 'Semiurban', 'Urban']}

##### 3) Find the minimum and maximum value of *Loan Amount*. Also calculate the mean *Loan Amount*

#### 3.1 Loan List is created from the dictionary
`LoanAmount` is extracted into a list which is in int datatype so as to facilitate calculations.

In [6]:
#LoanAmount needs to be in int for numerical operations
LoanAmounts = [int(LoanAmount) for LoanAmount in dictionary_data['LoanAmount']]

#### 3.2 Minimum and Maximum Loan calculation
Using `min()` and `max()` functions.

In [7]:
min_loan = min(LoanAmounts) 
print('Minimum Loan: ' + str(min_loan))
max_loan = max(LoanAmounts)
print('Maximum Loan: ' + str(max_loan))

Minimum Loan: 40
Maximum Loan: 280

#### 3.3 Mean Loan calculation
We sum up all the values in the list and take its average.

In [8]:
mean_loan = sum(LoanAmounts)/len(LoanAmounts)
print('Mean Amount: ' + str(mean_loan))

Mean Amount: 131.0